GEMINI_API_KEY=
GEMINI_API_KEY_1=
GEMINI_API_KEY_2=
GEMINI_API_KEY_3=
GEMINI_API_KEY_4=
GEMINI_API_KEY_5=
GEMINI_API_KEY_6=

# Custom Trained YOLOv8 Model Weights URL (best.pt/zip) for Pill Counter 
YOLOV8_MODEL_WEIGHTS_URL=https://drive.google.com/file/d/1vAkC4Cer3tCYHkgnLDsS4fQHqEcV0nuy/view?usp=sharing
